header {
  background-color: var(--surface-color);

}

.header-top, .header-bottom {
  @extend %centered-content-nowrap;

  &__container {
    @include fixed-width-flex-container(1180px, wrap, row, space-between, center);
  }
}

.header-top {
  padding: 1.25rem 0 .5rem 0;
}

.header-bottom {
  height: 96px;
}

