.main {
  background-color: var(--background-color);
  padding-top: 1.5rem;

  @extend %centered-content-nowrap;

  &__container {
    @include fixed-width-flex-container(1180px, nowrap, column, space-between, stretch);
  }

}

//!!!!!!!!!!!!!!!!!!!!!!!!! переделать в контент home страницы когда будем делать навигацию
.main-top, .main-mid, .main-bottom {
  margin-top: 1.5rem;
  @extend %centered-content-nowrap;

  &__container {
    @include fixed-width-flex-container(1180px, nowrap, row, space-between, stretch)
  }
}


.main-bottom {

  &__container {
    @include fixed-width-flex-container(1180px, nowrap, column, space-between, stretch)
  }
}
//!!!!!!!!!!!!!!!!!!!!!!!!!
