@mixin fixed-width-flex-container($width, $flex-wrap, $direction, $justify-content) {
  display: flex;
  width: $width; //1180px
  justify-content: $justify-content;
  background-color: #9ab0a5;
  flex-wrap: $flex-wrap;
  flex-direction: $direction;
}
