$primary-color-900: #4e8bbe;
$secondary-color-900: #0c181e;
$background-color: #fff;

$font-color: $secondary-color-900;

$font-family-primary: 'Helvetica Neue', sans-serif; //установить шрифты
$font-size-base: 16px;
$line-height-base: 1.5;


$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;


$font-size-400: .8rem;
$font-size-500: 1rem;
$font-size-600: 1.2rem;
