$primary-color: rgb(250, 132, 7);
$secondary-color: rgb(51, 51, 51);

$background-color: lighten($secondary-color, 75%);
$surface-color: lighten($secondary-color, 80%);



:root {

  --primary-color-50: #{lighten($primary-color, 90%)};
  --primary-color-100: #{lighten($primary-color, 77%)};
  --primary-color-200: #{lighten($primary-color, 70%)};
  --primary-color-300: #{lighten($primary-color, 60%)};
  --primary-color-400: #{lighten($primary-color, 50%)};
  --primary-color-500: #{lighten($primary-color, 40%)};
  --primary-color-600: #{lighten($primary-color, 30%)};
  --primary-color-700: #{lighten($primary-color, 20%)};
  --primary-color-800: #{lighten($primary-color, 10%)};
  --primary-color-900: #{$primary-color};

  --secondary-color-50: #{lighten($secondary-color, 90%)};
  --secondary-color-100: #{lighten($secondary-color, 77%)};
  --secondary-color-200: #{lighten($secondary-color, 70%)};
  --secondary-color-300: #{lighten($secondary-color, 60%)};
  --secondary-color-400: #{lighten($secondary-color, 50%)};
  --secondary-color-500: #{lighten($secondary-color, 40%)};
  --secondary-color-600: #{lighten($secondary-color, 30%)};
  --secondary-color-700: #{lighten($secondary-color, 20%)};
  --secondary-color-800: #{lighten($secondary-color, 10%)};
  --secondary-color-900: #{$secondary-color};

  --background-color: var(--secondary-color-100);
  --surface-color: var(--secondary-color-50);

  --border-color: var(--secondary-color-300);
  --border: 0.063rem solid var(--border-color);

  --border-radius-xs: .25rem;
  --border-radius-sm: .3rem;


  //--gap: .5rem;

  --spacing-xs: .25rem;
  --spacing-sm: .5rem;
  --spacing-sm-md: .7rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);

  --transition: all .25s;

  --font-color: var(secondary-color-900);

  --font-family-primary: 'Open Sans', sans-serif; //установить шрифты
  --font-size-base: 16px;
  --line-height-base: 1.5;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;


  --font-size-400: .9rem;
  --font-size-500: 1rem;
  --font-size-600: 1.5rem;
}
