.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //max-width: 300px;
  //min-width: 260px;
  padding: var(--spacing-sm) var(--spacing-sm);
  height: 35px;
  background-color: var(--surface-color);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow);



  input {
    all: unset;
    width: 100%;
    height: .9rem;
    font-size: .9rem;

    &::placeholder {
      font-size: .8rem;
    }
  }

  .close_icon, .magnified_icon {
    fill: var(--secondary-color-400);
    margin: .5rem;
    transition: fill .2s;
    max-width: .8rem;

    &:hover {
      fill: var(--secondary-color-900);
    }
  }

  .separator {
    height: .8rem;
    width: .06rem;
    background-color: var(--secondary-color-400);
  }
}

.variant_secondary {
  background-color: var(--secondary-color-200);
  box-shadow: none;
}


